<ion-view title="Ayuda">
    <ion-content overflow-scroll="true" padding="true" class="has-header"></ion-content>
      
      
      
      
      
      
      
    Toda la información relativa a la aplicación a modo de manual de usuario está contenida en este apartado,
    sirviendo de gran ayuda al usuario para mayor adaptación.

La pantalla inicial de la aplicación muestra los estrenos de cartelera,
y un botón estático en la parte superior que permite la búsqueda tanto de películas como series, actores..

Al desplegar el menú vemos todas las opciones disponibles,
pudiendo ver el trailer de la película que no sabes si te gustará o encontrar el cine más cercano dónde poder ir a verla.

También podemos destacar la posibilidad de encontrar las últimas noticias del mundo del cine así como
leer la sinopsis o ver la puntuación de los usuarios sobre cualquier película.

Para mejorar el rendimiento de la aplicación le recomendamos que active el uso de gps,
así obtendrá mejores datos en la búsqueda de cines cercanos.

Por otra parte, 

Gracias por utilizar la aplicación «NombreAPP» , esperemos les sea de gran utilidad, 
no duden en escribirnos sus opiniones así como los fallos detectados en el store de su dispositivo,
nos satisface poder trabajar con ayuda del feedback de los usuarios.   Atentamente Nosotros-SA

</ion-view>
