<ion-view title="Detalles pelicula">
<ion-content overflow-scroll="true" padding="true" class="has-header">
  <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="volver()">
    <b>Volver a la lista</b>
  </a>
  <div class="list card">
    <div class="item item-avatar">
      <img ng-src="http://image.tmdb.org/t/p/w92{{movie.poster_path}}" onerror="this.src = 'https://www.ginesisnatural.com/images/no_image.jpg';">
      <h2>{{movie.title}}</h2><!-- title(titulo en español) original_title(titulo en ingles) -->
      <p>{{movie.release_date}}</p>
    </div>

    <div class="item item-body">
        <img class="full-image" ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" onerror="this.src = 'https://www.ginesisnatural.com/images/no_image.jpg';"/>
        <p>{{movie.overview}}</p>
        <p>
            <a class="subdued">Puntuacion media: <strong>{{movie.vote_average}}</strong></a>
            <a class="subdued">Votos totales: <strong>{{movie.vote_count}}</strong></a>  
        </p>
        <p>
          <a ng-show="asdf==null" class="item item-icon-left assertive">
            <i class="icon ion-close-round"></i><b>No hay trailers disponibles</b>
          </a>
          <a href="youtube://" ng-hide="asdf==null" class="item item-icon-left assertive">
            <i class="icon ion-social-youtube-outline"></i><b>Trailers disponibles</b>
          </a>
        </p>
        <p ng-hide="asdf==null">
          <iframe ng-click="appYou('{{asd.key}}')" ng-repeat="asd in asdf" id="ytplayer" type="text/html" disabled  ng-src="{{asd.key}}" frameborder="0"/>
        </p>
        
    </div>
  </div>
</ion-content>
</ion-view>