<ion-view title="Inicio">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="searchMovieDB()">
            <label class="item item-input" name="buscar">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="busqueda" type="search" placeholder="Buscar pelicula,actor..." ng-model="movie.name" />

            </label>
        </form>
        <button ng-hide="movies==null" class="button button-block button-positive" ng-click="borrar()">
            Borrar busqueda
        </button>
        <ion-list id="lista">
            <ion-item  ng-hide="movies==null" class="list card">
                <a ng-repeat="movie in movies" href="#/detalle/{{movie.id}}" class="item item-thumbnail-left">
                    <img ng-src="http://image.tmdb.org/t/p/w92{{movie.poster_path}}" onerror="this.src = 'https://www.ginesisnatural.com/images/no_image.jpg';">
                    <h2>{{movie.title}}</h2><!-- title(titulo en español) original_title(titulo en ingles) -->
                    <h4>{{movie.release_date}}</h4>
                </a>
            </ion-item>
            <!--<button ng-hide="movie.name==''" id="boton" class="button-clear" ng-click="paginaSiguiente()">Siguiente <i class = "icon ion-arrow-right-c"></i></button>-->
        </ion-list>
    </ion-content>
</ion-view>